*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background: url(images/anim-fla.webp);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

h2{
    top: 0;
    position: absolute;
    color: #fff;
    margin-top: 10px;
    font-size: 2rem;
}

h2 span{
    font-size: 2.75rem;
    animation: anim 2s linear infinite;
    border: 3px solid yellow;
    border-radius: 50%;
    padding: 5px;
}

@keyframes anim{
    100%{
        color: goldenrod;
    }
}

.cont{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.banga{
    margin-right: 100px;
    width: 300px;
    height: 350px;
}

.surr{
    width: 200px;
    height: 250px;
}

.arrow{
    width: 40px;
    height: 40px;
    position: absolute;
    transform: rotate(-90deg);
    margin-left: 50px;
    /* visibility: hidden; */
}

p{
    font-size: 10px;
    color: #fff;
    opacity: .5;
    bottom: 0;
    right: 0;
    margin-right: 10px;
    position: absolute;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

 @media screen and (max-width:768px){
    .banga{
        width: 200px;
        height: 250px;
    }

    .surr{
        width: 150px;
        height:200px;
    }

    .arrow{
        width: 35px;
        height: 35px;
        margin-left: 30px;
    }
}

@media screen and (max-width:600px){
    .cont{
        flex-direction: column;
    }

    .banga{
        width: 150px;
        height: 200px;
        margin: 15px auto;
    }

    .surr{
        width: 100px;
        height: 150px;
        
        margin: 60px auto 0 auto ;
    }

    .arrow{
        width: 30px;
        height: 30px;
        margin: 30px  auto ;
        transform: rotate(0deg);
    }
} 